<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DemoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="background-color:cornflowerblue;" class="navbar navbar-expand-sm navbar-dark">
        <div class="container">
            <a href="Index" class="navbar-brand">BOOKSTORES</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="dropdownGioiThieu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Giới thiệu</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownIntroduction">
                            <li><a class="dropdown-item" href="/Home/App">Ứng dụng</a></li>
                            <li><a class="dropdown-item" href="/Home/Member">About</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Home")" class="nav-link">Trang chủ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownDanhMuc" role="button" data-bs-toggle="dropdown" aria-expanded="false">Danh mục QL</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownCategory">
                            <li><a class="dropdown-item" href="@Url.Action("QLDT","Home")">QL Doanh thu</a></li>
                            <li><a href="@Url.Action("QLNV", "Home")" class="dropdown-item">QL Nhân viên</a></li>
                            <li><a class="dropdown-item" href="/">QL Sản phẩm</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Intro", "Home")">QL Trang giới thiệu</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("History","Home")">QL Lịch sử hoạt động</a></li>
                        </ul>
                        
                    </li>
                    <input class="form-control me-2" style="width: 470px; height: 30px;" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <a href="/Home/Login" class="btn btn-primary" style="display: flex;justify-content: flex-end;">Đăng nhập</a>
                </ul>                               
            </div>
        </div>
    </header>

<<<<<<< HEAD
   
=======
    
>>>>>>> elchabin
     
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const cartCountElement = document.getElementById('cart-count');
            let cartCount = 0;

            // Bắt sự kiện click cho tất cả các sản phẩm click thêm số lượng vào giỏ hàng
            const addToCartButtons = document.querySelectorAll('.add-to-cart');
            addToCartButtons.forEach(button => {
                button.addEventListener('click', function () {
                    cartCount++;
                    cartCountElement.textContent = cartCount;
                });
            });
        });


        function updateCartCount() {
            $.get('@Url.Action("GetCartCount", "Cart")', function (data) {
                const cartCountElement = document.getElementById('cart-count');
                if (cartCountElement) {
                    cartCountElement.textContent = data.count;
                }
            });
        }

        // cập nhật cart count
        updateCartCount();

       
        bookContainer.addEventListener('click', function (event) {
            if (event.target && event.target.classList.contains('add-to-cart')) {
                event.preventDefault();
                const bookId = event.target.getAttribute('data-id');
                const url = '@Url.Action("AddToCart", "Cart")' + '?id=' + bookId;
                $.post(url, function () {
                    updateCartCount();
                });
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
